.banner-div {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem; 
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: bolder;
    color: #8A3323;
    border-bottom: 2px solid #8A3323;
}

.logo-search-div {
    display: flex;
    align-items: center;
}

.logo-div {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

.logo-div h1 {
    margin-left: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.logo-search-div form {
    display: flex;
    align-items: center;
    position: relative;  /* Allow positioning of the autocomplete dropdown */
}

.text-input {
    width: 22rem;
    height: 2rem;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    padding-left: 0.5rem;
    font-size: 1rem;
    font-family: 'Hind Vadodara', sans-serif;
    margin-right: 0;
    border-top-left-radius: 0.25rem;
}

.search-btn {
    height: 2.3rem;
    width: 3rem;
    background-color: #8A3323;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 1px solid black;
    border-top-right-radius: 0.25rem;
}

.banner-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.banner-btn {
    text-align: center;
    height: 2.45rem;
    width: 8rem;
    background-color: #8A3323;
    color: white;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 0;
}

.banner-btn:hover {
    background-color: #a85c43;
}

/* Autocomplete Dropdown */
.autocomplete-dropdown {
    position: absolute;
    top: 100%;  /* Align directly below the input field */
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 22rem;  /* Match the width of the input field */
}

.autocomplete-item {
    padding: 10px;
    cursor: pointer;
    font-family: 'Hind Vadodara', sans-serif;
}

.autocomplete-item:hover {
    background-color: #f0f0f0;
}
