.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFF2D7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #65431F;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.App-header ul {
  list-style-type: none;
  padding: 0;
}

.App-header li {
  margin: 5px 0;
  background-color: #444;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.App-header ul {
  list-style-type: none;
  padding: 0;
}

.App-header li {
  margin: 10px 0;
  background-color: #444;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.App-header li ul {
  margin-top: 5px;
}

input {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: none;
}
.availability-section {
  margin-top: 20px;
}

.availability-display {
  margin-top: 10px;
}

.availability-item {
  background-color: #555;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

input {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  height:27px;
}

button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #8A3323;
  border: none;
  cursor: pointer;
  color:white;
  height:100%;
}

.cafe-card{
  background-color: #8A3323 !important;
}