.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #EBEBE5;
  font-size: 1.5rem;
  color: #8dbf50;
  font-weight: bold;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-title {
  color: #8dbf50;
}

.my-post-button {
  border: none;
  color: #8dbf50;
  font-weight: bold;
  background-color: transparent;
  font-size: 1.25rem;
  cursor: pointer;
}

.my-post-button:hover {
  color: white;
}

.cafe-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  background-color: #FFF2D7;
}

.listings-plant-image, .cafe-image {
  width: 150px;
  height: 100px;
  object-fit: cover;
  padding-left: 20px;
}

.cafe-info {
  flex: 1;
  padding-left: 20px;
}

.cafe-action, .plant-action {
  text-align: right;
}

.price {
  font-size: 1.2rem;
  color: #333;
}

.book-btn, .cafe-action button {
  color: #8dbf50;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.book-btn:hover {
  background-color: #6f9640;
}
